<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{{body}}}
<p class="text-center"><i class="fa fa-sun-o fa-spin fa-fw text-yellow"></i> <a class="text-success" href="https://smartholdem.io">Powered by SmartHoldem Team</a> <i class="fa fa-sun-o fa-spin fa-fw text-yellow"></i></p>
</body>
</html>
